
@model CoffeeShop.Models.BangLuongView;
<!--để nó hiểu những biến trong viewmodel-->
@{ Layout = "~/Views/Shared/_Layout.cshtml"; //dùng lại layout ở share }
  
    }
<br />
<div class="col-md-10" style="margin-left: 8%">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Sửa Bảng Lương</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form  asp-controller="BangLuong" asp-action="SuaBangLuongData">
            @*đường dẫn đến admin/ chạy quanlíanphamcontroler/ chạy hàm them sản phẩm*@
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mã NV</label>
                    <input asp-for="bangluongDTO.MaNV" value="@ViewBag.SuaBangLuong.MaNV" readonly="readonly" class="form-control" id="exampleInputEmail1" placeholder="Nhập mã NV">

                    <span class="focus-input100 text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tiền Thưởng</label>
                    <input asp-for="bangluongDTO.TienThuong" value="@ViewBag.SuaBangLuong.TienThuong" class="form-control" id="exampleInputPassword1" placeholder="Nhập tiền thưởng">@*asp-for định danh cho cái input, value là lấy dữ liệu để bên sửa có dữ liệu*@
                    <span class="focus-input100 text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tạm Ứng</label>
                    <input asp-for="bangluongDTO.TamUng" value="@ViewBag.SuaBangLuong.TamUng" class="form-control" id="exampleInputPassword1" placeholder="Nhập tạm ứng">@*asp-for định danh cho cái input, value là lấy dữ liệu để bên sửa có dữ liệu*@
                    <span class="focus-input100 text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Lương </label>
                    <input asp-for="bangluongDTO.Luong" value="@ViewBag.SuaBangLuong.Luong" class="form-control" id="exampleInputPassword1" placeholder="Nhập lương">@*asp-for định danh cho cái input, value là lấy dữ liệu để bên sửa có dữ liệu*@
                    <span class="focus-input100 text-danger"></span>
                </div>
                <!--Combobox-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
    <!-- /.card -->

</div>

